* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.section-title {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -2.53px;
    margin-bottom: 16px;
}

.section-description {
    font-size: 18px;
    color: #e4e4e4;
    font-weight: 400;
    line-height: 32px;
}

.mini-title {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2.81px;
    text-transform: uppercase;
    color: #258aff;
    margin-bottom: 49px;
}

/*-------HEADER-------*/
header {
    padding-top: 39px;
    background-color: #e3eef8;
}

.wrapper-nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-right: 60px;
    align-self: center;
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    list-style: none;
    padding-top: 15px;
    font-size: 16px;
    font-weight: 400;
}

.navigation li {
    margin-right: 35px;
}

.navigation li a:link,
.navigation li a:visited {
    color: #1f1f1f;
    text-decoration: none;
}
.btn-nav-start {
    text-align: center;
    font-size: 16px;
    border: 2px solid #258aff;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 3px;
}

.btn-nav-start:link,
.btn-nav-start:visited {
    color: #258aff;
}

.hero {
    padding-top: 188px;
    margin: 0 auto;
    text-align: center;
    width: 614px;
}

.hero h2 {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2.81px;
    text-transform: uppercase;
    color: #666666;
    margin-bottom: 27px;
}

.hero h1 {
    color: #1f1f1f;
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -4px;
    margin-bottom: 19px;
}

.fisrt-paragraph {
    font-weight: 400;
    font-size: 21px;
    color: #666666;
    line-height: 36px;
    width: 555px;
    text-align: center;
    margin: 0 auto;
    letter-spacing: -0.4px;
    padding-bottom: 31px;
}

.form-email {
    width: 493px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.form-email input {
    font-family: 'Karla', sans-serif;
    padding: 18px 24px 18px 24px;

    height: 60px;
    border: none;
    border-radius: 3px;
    outline: transparent;
}

.input-email {
    width: 275px;
    font-size: 18px;
    color: #878b90;
    font-weight: 400;
}

.btn-send {
    background-color: #fc593b;
    width: 209px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-left: 4px;
    cursor: pointer;
}

.trusted-number {
    font-size: 17px;
    color: #878b90;
    font-weight: 400;
    letter-spacing: -0.3px;
    margin-bottom: 157px;
}

.features {
    display: flex;
    justify-content: space-between;
    padding-bottom: 140px;
}

.feature {
    margin-left: 23px;
    display: flex;
    position: relative;
}

.feature-text {
    padding-left: 45px;
}

.feature h3 {
    color: #000;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 7px;
}

.feature p {
    font-size: 17px;
    color: #878b90;
    font-weight: 400;
    letter-spacing: -0.3px;
}

.feature-icon {
    position: absolute;
    width: 30px;
}

/*--------content-1-section-------*/

.wrapper-content-1 {
    display: flex;
    justify-content: space-between;
}
.content-1 {
    background-color: #258aff;
    padding-top: 136px;
    padding-bottom: 30px;
}

.text-block {
    width: 491px;
    padding-top: 160px;
}

.content-1 h3 {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2.81px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 49px;
}

.content-1-btn {
    margin-top: 51px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    color: #258aff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    padding: 20px 60px;
}

/*------Content-2-section--------*/
.content-2 {
    background-color: #e3eef8;
    padding-top: 167px;
    /*padding-bottom: 80px;*/
}

.wrapper-content-2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.content-2-title {
    color: #1f1f1f;
}

.content-2-description {
    color: #666;
    margin-bottom: 95px;
}
.wrapper-content-2-feature {
    display: flex;
    justify-content: space-between;
}
.feature-title {
    font-size: 21px;
    color: #000;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 13px;
}

.content-2-icon {
    margin-bottom: 32px;
}

.feature-description {
    color: #666;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
}

#feature-1 {
    margin-right: 100px;
}

.text-block-content-2 {
    padding-top: 0;
}

.content-2 .container {
    border-bottom: 1px solid #fff;
}

/*--------SECTION-TESTEMONIALS---------*/
.section-testemonials {
    background-color: #e3eef8;
}

.section-testemonials .container {
    padding-top: 158px;
}

.wrapper-testemonials {
    display: flex;
    justify-content: space-between;
}

.text-block-testemonials {
    width: 349px;
    padding-top: 154px;
}

.text-block-testemonials .section-description {
    width: 315px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px 37px;
    position: relative;
}

.cards-container {
    display: grid;
    grid-template-rows: 303px 303px;
    grid-template-columns: 350px 350px;
    grid-gap: 30px;
}

.card-text {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: #1f1f1f;
    line-height: 32px;
    letter-spacing: -0.1px;
    font-weight: 400;
}

.card-person {
    display: flex;
    position: absolute;
    bottom: 30px;
}

.avatar {
    margin-right: 22px;
}

.name {
    font-size: 17px;
    font-weight: 700;
}

.occupation {
    color: #666;
    font-size: 15px;
    line-height: 28px;
}

.wrapper-testemonials {
    padding-bottom: 122px;
}

.logos {
    filter: saturate(0%);
    margin-bottom: 131px;
}
